{% extends "base.html" %}

{%block content%}

          {%if messages%}
          <ul class="messages">
            {%for messages in messages%}
            <li{%if messages.tags%} class="{{messages.tags}}" {%endif%}>{{messages}}</li>
            {%endfor%}
          </ul>
          {%endif%}

          <h2>editar autor</h2>'
          <form action="" method="post" action="" enctype="multipart/form-data">{%csrf_token%}
            {{form.as_p}}
          <input type="submit" class="btn btn_default">
         </form>

{%endblock%}
